





*
{
    margin:0;
    padding:0;
}
body{
    background-image: url("https://cdn.britannica.com/30/180130-138-4FC01CDD/Overview-Amsterdam.jpg");
    background-size: 280%;
    background-position: -400px 0px ;

}
div.main{
    width:400px;
    margin:120px auto 0px auto;
}
h2{
    text-align:center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width:100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px
    rgba(0,0,0,0.3);
    color: #fff;
}
form#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px; 
    font-style: italic;
    margin-left: 40px;
}

input#n0{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
    
    margin-left: 40px;
    
}
input#n1{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
    
    margin-left: 40px;
    
}
input#n2{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
    
    margin-left: 40px;
    
}
input#n3{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
    
    margin-left: 40px;
}
input#n4{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
    
    margin-left: 40px;
}
input#n5{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
    
    margin-left: 40px;
}

input#password{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);

    margin-left: 40px;

}
input#confirm password{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px ;
    rgba(0,0,0,0.3);
     margin-left: 40px;

}
input#submit{
    width: 200px;
    padding:7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border:none;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color:#fff;
    cursor: pointer;
    border:1px solid
    rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px;
    rgba(0,0,0,0.3);
    margin-bottom: 20px;
    
    margin-left: 100px;
}
label,span,h2{
    text-shadow: 1px 1px 5px;
    rgba(0,0,0,0.3);
}
#male,#female{
    margin-left:40px;
}



